/*	------------------------------------
	Navy - General styles
	------------------------------------
	Desc:		stylesheet
	File:		general.css
	Version:	1.0
	Created:	March 20, 2013
	Author:		Kate Payton 
				@ www.pixelnourish.com
	------------------------------------	*/

.clear {
	height: 0px !important;
	line-height: 0 !important; /* if causing problems, remove */
	clear: both !important;
	font-size: 1px !important;
	float: none !important;
	padding: 0px !important;
	margin: 0px !important;
	width: auto !important;
	display: block !important;
	visibility: hidden !important;
	overflow: hidden !important;
}

/* -------------------------------------
	1. Typography
   ------------------------------------- */
html,
body {
	font-size: 0.9375em /* RESET FONT SIZE TO 15PX */;
	font-family: Helvetica, Arial, sans-serif;
	/*
	font-family:'Helvetica W01 Roman';
	font-family:'Helvetica W01 Bold';
	*/
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	color: #334b6d;
	font-family: 'akzidenz-grotesk_std_regulaRg', Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0 0 1.1em 0;
	line-height: 1.2em;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
h1, h2 { font-family: 'akzidenz-grotesk_std_regulaRg', Helvetica, Arial, sans-serif; }
h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.h1 strong,
h3 strong, h4 strong, h5 strong, h6 strong,
.h3 strong, .h4 strong, .h5 strong, .h6 strong {
	font-family: 'akzidenz-grotesk_stdmedium', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h1,
.h1 {
	color: #334b6d;
	font-family: 'akzidenz-grotesk_std_regulaRg', Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: normal;
	letter-spacing: -1px;
}
h1 strong {
	font-family: 'akzidenz-grotesk_stdmedium', Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: normal; /* bold font overwrites */
}
	#home header h1 {
		color: #fff;
		font-family: 'akzidenz-grotesk_stdmedium', Helvetica, Arial, sans-serif;
		font-size: 60px;
		line-height: 68px;
		margin-bottom: 20px;
	}
h2 {
	font-family: 'akzidenz-grotesk_stdmedium', Helvetica, Arial, sans-serif;
	font-size: 18px;
}
.h2 {
	font-size: 34px;
	font-family: 'akzidenz-grotesk_stdmedium', Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
}
	#home header h2,
	#home header .hero-unit a {
		color: #fff;
		font-family: 'akzidenz-grotesk_std_regulaRg', Helvetica, Arial, sans-serif;
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 20px;
	}
h3,
.h3 {
	font-size: 18px;
	font-weight: bold;
}
	[class*="sidebar_"] .h3 {
		font-size: 24px;
		font-family: 'Helvetica W01 Bold', Helvetica, Arial, sans-serif;
		line-height: 1.25em;
	}
h4,
.h4 { font-size: 16px; }
h5, .h5 { font-size: 18px; }
h6, .h6 {
	color: #334b6d;
	font-size: 15px;
	line-height: 1.2em;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

header hgroup { width: 890px; }

a { color: #ff2952; text-decoration: none; }
a:hover { color: #ff2952; text-decoration: underline;  }
a.tel { color: #334b6d; }
a.tel:hover { color: #334b6d; text-decoration: none; }

p {
	font-size: 15px; /* overwrite bootstrap */
	line-height: 1.6em /* 24px */;
	margin: 0 0 0.95em 0;
}

/* ul { list-style: disc; } */
ol { list-style: decimal; }

ul {
	list-style: none;
	margin: 0 0 25px;
}
	ul li {
		background: url(../img/ico_sprite.png) no-repeat -380px 6px;
		padding: 0 0 15px 30px;
	}

/* -------------------------------------
	2. Structure
   ------------------------------------- */
html { background: #f3efe4 url(../img/bg_tri-light.png) repeat center 0; }
body {
	background: transparent;
	color: #838178;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
header {
	background: transparent url(../img/bg_header-beige.gif) no-repeat center;
	position: relative;
}
#content,
#subcontent { position: relative; }
	#content .bg > .container,
	#subcontent .bg > .container {
		z-index: 40;
	}
	#contact #content {
		background: transparent url(../img/bg_footer-blue_contact.gif) no-repeat center bottom;
		padding: 120px 0 126px;
	}
#subcontent {
	background: #efe9db url(../img/bg_tri-light.png) repeat center 127px;
	padding: 0 0 239px;
}
	#subcontent .bg {
		background: transparent url(../img/bg_content-beige_divide.gif) no-repeat center top;
		padding: 623px 0 0;
		margin: -646px 0 0;
	}

#s-detail [class*="sidebar_"] {
	float: right;
	margin: 0;
	width: 360px;
}

footer {
	background: transparent url(../img/bg_footer-blue-dk.png) no-repeat center bottom;
	min-height: 756px;
	padding: 0;
	position: relative;
	z-index: 30;
}


/* -------------------------------------
	3. Page IDs
   ------------------------------------- */
html#home { background-color: #efe9db;}
html#contact { background-color: #efe9db;}
#home header {
	background: url(../img/bg_header-home.png) no-repeat center 0;
	color: #fff;
	height: 882px;
	z-index: 20;
}
	#home header a { color: #fff; }
#home #content {
	margin: -378px 0 0;
	padding: 378px 0 0;
	height: 375px;
}
#home footer {
	background-image: url(../img/bg_footer-blue-beige_home.png);
	min-height: 507px;
	/*margin: -250px 0 0;*/
	padding: 250px 0 0;
	position: relative;
	z-index: 30;
}

#about header {
	background-image: url(../img/bg_header-about.jpg);
	position: relative;
}
	#about header > .bg {
		background: url(../img/bg_header-about_divide_sml-tri.png) no-repeat center bottom;
		min-height: 756px;
		padding: 0 0 379px;
	}
#about #content {
	background-color: #f3efe4;
	background-image: url(../img/bg_tri-light_sml-grid.gif);
	background-position: center 63px;
	padding: 0 0 193px;
}
#case {
	background-color: #f3efe4;
	background-position: center 228px;
}
#case #content { background: #efe9db url(../img/bg_tri-light.png) repeat center 0; }
	#case #content > .bg { background: url(../img/bg_header-beige-lt.png) no-repeat center -253px; }
#case header {
	background-color: #efe9db;
	background-image: none;
}
	#case #subcontent {
		background: transparent url(../img/bg_content-case_divide.png) no-repeat center 0;
		margin: -379px 0 0;
		min-height: 80px /* 250px - margin at bottom of text included in bottom padding*/;
		padding: 379px 0 0;
		z-index: 300;
	}
		#case #subcontent > .bg {
			background: none;
			margin: 0;
			padding: 90px 0 0;
		}
#case footer {
	background-image: url(../img/bg_footer-blue02.gif);
	margin: -85px 0 0;
	min-height: 882px;
}

#work header {
	background-image: url(../img/bg_header-beige_shorter.png);
	min-height: 632px;
	position: relative;
}
#work #content {
	padding: 56px 0 70px;
}
	#work #content .footer.row {
		min-height: 160px;
		padding: 35px 0 56px;
	}
#work footer { background-image: url(../img/bg_footer-blue-lt.png); }

#services header {
	background-image: url(../img/bg_header-beige02.png);
	height: 757px;
	position: relative;
	z-index: 20;
}
	#services header > .bg {
		background: none;
	}
#services #content {
	height: 834px;
	margin-top: -79px;
}
	#services #content .container {
		position: relative;
		z-index: 30;
	}
#s-detail { background-color: #efe9db; }
	#s-detail #wrap_inner { background: url(../img/bg_header-beige-lt.png) no-repeat center 0; }
	#s-detail header { background: none; }
	#s-detail #content { min-height: 1361px; }

#contact header {
	background: url(../img/bg_header-beige.gif) no-repeat center;
	min-height: 690px;
	padding: 0 0 193px;
	position: relative;
}

#about footer { margin: -74px 0 0; }
#services footer { background-image: url(../img/bg_footer-blue-lt.png); }

/* -------------------------------------
	4. Responsive structure
   ------------------------------------- */
/* small responsive adjustments - large to small */
@media (max-width: 1200px) {
	.overflow { overflow: hidden; }
}
@media (max-width: 1200px) and (min-width: 768px) {
}
@media (max-width: 1080px) {
	html { background-position: 180px 0; }
	body { overflow-x: auto; }
	header { background-position: -360px 0; }
	#about header .bg,
	#content,
	footer { background-position: -360px bottom; }
	
	#about #content { background-position: 0 0; }
	
	#subcontent {background-position: -360px 127px;}
		#subcontent .bg { background-position: -360px top; }
}
@media (max-width: 767px) {
	body { padding: 0; }
}



